/* General */
.wow-wizard-step {
	font-family:Arial;
}
.wow-wizard-step .wow-row {
	width:calc(100% + 20px);
	width:-webkit-calc(100% + 20px);
	width:-moz-calc(100% + 20px);
	margin-left:-10px;
	padding:0 0;
	float:left;
}
.wow-wizard-step .wow-col-6 {
	width:50%;
	height:auto;
	padding: 0 10px;
	box-sizing: border-box;
	float:left;
}
.wow-wizard-step .alert {
	width:100%;
	margin-top:10px;
	float:left;
}
.wow-wizard-step .wow-wizard-step-indicators{
	width:100%;
	display:block;
	padding:0;
	float:left;
	min-height:50px;
	padding-bottom:2px;
	margin-top:20px;
}
.wow-wizard-step .wow-wizard-step-indicator{
	background-color:#CCC;
	width:140px;
	border-radius:3px;
	list-style:none;
	float:left;
	margin-bottom:10px;
	display:inline-block;
	height:50px;
	font-size:14px;
	margin-right:10px;
	position:relative;
	line-height:50px;
	color:white;
	cursor:pointer;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none; 
}
.wow-wizard-step .wow-wizard-step-indicator .step-id {
	background-color:#AAA;
	height:30px;
	width:30px;
	margin-top:10px;
	display:inline-block;
	border-radius: 100%;
	text-align:center;
	line-height:30px;
	font-weight: 700;
	margin-left:5px;
	margin-right:5px;
}
.wow-wizard-step .wow-wizard-step-indicator .step-id i {
	line-height:30px;
}
.wow-wizard-step .wow-wizard-step-indicator.visited .step-id {
	background-color:#18908a;
}
.wow-wizard-step .wow-wizard-step-indicator span{
	font-weight: 700;
}
.wow-wizard-step .wow-wizard-step-question {
	width: 100%;
	margin-top:5px;
	float:left;
}
.wow-wizard-step .wow-wizard-content {
	padding:0;
}

/* Room Choices */
.room-choices {
	width:100%;
	display:block;
	min-height:100px;
}
.room-choices .room-choice {
	background-color:transparent;
	border:2px solid #59BAFF;
	border-radius:100%;
	float:left;
	width:100px;
	height:100px;
	text-align:center;
	font-weight:600;
	margin-right:20px;
	color:#59BAFF;
	cursor:pointer;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none; 
}
.room-choices .room-choice span {
	width:100%;
	margin-top:35px;
	display:block;
	font-size:22px;
}
.room-choices .room-choice i {
	color:white;
	display:none;
}
.room-choices .room-choice.custom-room-choice {
	cursor:auto;
}
.room-choices .room-choice.custom-room-choice span {
	display:inline;
}
.room-choices .room-choice.custom-room-choice input {
	width:20px;
	padding:0;
	color:#59BAFF;
	border:none;
	outline:none;
	background-color:transparent;
	font-size:22px;
	text-align:center;
	border-bottom:1px solid #59BAFF;
	margin-top:35px;
	line-height:0;
}

/* Konut Tipi Seçimi */
.single-image-choices {
	width:100%;
	display:block;
	float:left;
}
.single-image-choices .single-image-choice {
	width:120px;
	height:115px;
	margin-bottom:20px;
	float:left;
	margin-right:20px;
	text-align:center;
	position:relative;
	cursor:pointer;
	border-radius:3px;
}
.single-image-choices .single-image-choice img {
	width:60px;
	margin-left:0px;
	margin-top:5px;
	display:inline-block;
	position:relative;
}
.single-image-choices .single-image-choice p{
	font-size:12px;
	margin-top:10px;
	font-weight:700;
	color:black;
}
.single-image-choices .single-image-choice .circle-select{
	background-color:white;
	width:30px;
	height:30px;
	border-radius:100%;
	position:absolute;
	bottom:-15px;
	left:50%;
	margin-left:-15px;
}
.single-image-choices .single-image-choice .circle-select i {
	color:white;
	margin-top:5px;
}
.single-choice-button {
	margin-right:10px;
}
.single-choice-button i {
	margin-right:5px;
	display:none;
}
.wow-wizard-step .wow-wizard-step-answers textarea {
	border-radius:3px;
	width:100%;
	min-height:100px;
}
.wow-wizard-step #wow-wizard-next-step, .wow-wizard-step .single-choice-button {
	padding:10px 20px;
	border-radius:3px;
	transition: 0.2s;
	color:white;
	display:inline-block;
}
.wow-wizard-step #wow-wizard-next-step:hover, .wow-wizard-step .single-choice-button:hover {
	opacity:0.8;
	cursor:pointer;
}
.wow-wizard-step input[type=text], .wow-wizard-step input[type=email], .wow-wizard-step textarea {
	width:100%;
	padding:10px;
	border-radius:3px;
	outline:none;
	box-shadow:none;
	margin-bottom:10px;
	border:1px solid rgba(0, 0, 0, 0.3);
}
.wow-wizard-step #wow-alert {
	width:calc(100% - 40px);
	width:-webkit-calc(100% - 40px);
	width:-moz-calc(100% - 40px);
	float:left;
	padding:20px;
	margin-top:20px;
	background-color:#f2dede;
	border:1px solid #ebccd1;
	border-radius:3px;
	color:#a94442;
}